<div class="card">
  <div class="card-header">
    <!-- Si necesitas un título para la tarjeta, puedes colocarlo aquí -->
    <h4>Lista de Héroes</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        Filtrar por:
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="listFilter" type="text" class="form-control"
          placeholder="Ingrese nombre del Heroe">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <h3>Filtro: {{ listFilter }}</h3>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th>
              <button (click)="showImage()" class="btn btn-primary">
                {{ muestraImagen ? 'Ocultar ' : 'Mostrar ' }}Imagen
              </button>
            </th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Raza</th>
            <th>Ki</th>
          </tr>
        </thead>
        <tbody>
          <!-- Se eliminó el </tr> anticipado que rompía la estructura -->
          <tr *ngFor="let heroe of heroes | heroesFilter: listFilter">
            <td>
              <img *ngIf="muestraImagen" 
                   [src]="heroe.imagen" 
                   [style.width.px]="imageWidth" 
                   [style.margin.px]="imageMargin">
            </td>
            <td>{{ heroe.nombre | uppercase }}</td>
            <td>{{ heroe.description }}</td>
            <td>{{ heroe.race }}</td>
            <td>{{ heroe.ki }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>